# J.A.R.V.I.S - Phase 1 Dependencies
pyttsx3==2.90
SpeechRecognition==3.14.6
psutil==5.9.8
PyAudio==0.2.14
requests==2.31.0
customtkinter==5.2.2
opencv-contrib-python==4.13.0.92
wikipedia==1.4.0
# Phase 2 - Web scraping
beautifulsoup4==4.12.3
lxml==5.2.1
